
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="~/css/styles.css" rel="stylesheet" type="text/css">
  <link href="~/css/animate.css" rel="stylesheet" type="text/css">
  <script src="~/js/jquery-3.3.1.js"></script>
  <script src="~/js/scripts.js"></script>
  <title>Epicodemon</title>
</head>
<body class="homeindex">

  <div class="container">
    <p><img class="animated pulse slow logoimg" src="~/img/Epicodemon-Logo.png"></p>
    <h1 class="indexh1">Gotta Code 'em All!</h1>
    <p class="indexp"><a href="/Battle">New Game</a></p>
    <!-- <p class="indexp"><a href="/Battle">Continue Game</a></p> -->
    <p class="indexp"><a href="/Epicodex">Epicodex</a></p>
    <p><img id="homechu" src="~/img/epicodachugif.gif"></p>
  </div>
</body>
</html>
