<h1>Choose Your Epicodemon</h1>

<form action="/Battle/@Model["monone"].GetMonId()/Battle" method="post">
  <h4>@Model["monone"].GetMonName()</h4>
  <p>Descirption: </p>
  <button type="submit">Fight!</button>
</form>

<form action="/Battle/@Model["montwo"].GetMonId()/Battle" method="post">
  <h4>@Model["montwo"].GetMonName()</h4>
  <p>Descirption: </p>
  <button type="submit">Fight!</button>
</form>

<form action="/Battle/@Model["monthree"].GetMonId()/Battle" method="post">
  <h4>@Model["monthree"].GetMonName()</h4>
  <p>Descirption: </p>
  <button type="submit">Fight!</button>
</form>
