.epicodex
{
  background-image: url("../img/screenv2.jpg");
  background-repeat: repeat-y;
  background-size: auto;
  background-position: top;
  color: lightblue;
}
.epicodexlinks
{
  color: lightgreen;
}
.epicodexlinks:visted
{
  color: lightgreen;
}
.epicodexlinks:hover
{
  color: lightgreen;
}
.well
{
  width: 250px;
  background-color: darkgreen;
}
.form-control
{
  width: 300px;
}

.enemyStatus
{
  float: left;
  position: absolute;
  width: 500px;
  margin: 15px;
}

.enemySprite
{
  float: right;
}

.fighterSprite
{
  float: left;
  margin-top: 600px;
}

.fighterStatus
{
  margin-top: 220px;
  float: right;
  width: 500px;
}

.attack
{
  width: 300px;
  height: 100px;
  border-width: thin;
}

.attackBar
{
  display: none;
  margin-top: 20px;
  float: right;
  width: 650px;
}

.menu
{
  margin-top: 20px;
  float: right;
  width: 650px;
}

.menuButton
{
  width: 300px;
  height: 150px;
  border-width: thin;
}

.Epicodex-pic
{
height: 100px;
}

.msgbox
{
  /*position: absolute;*/
  margin-top: 700px;
}

.initial-hidden
{
  display: none;
}
