.epicodex
{
  background-image: url("../img/screenv2.jpg");
  background-repeat: repeat-y;
  background-size: auto;
  background-position: top;
  color: lightblue;
}
.epicodexlinks
{
  color: lightgreen;
}
.epicodexlinks:visted
{
  color: lightgreen;
}
.epicodexlinks:hover
{
  color: lightgreen;
}
/* .well
{
  width: 250px;
  background-color: darkgreen;
} */
.form-control
{
  width: 300px;
}

.enemyStatus
{
  float: left;
  width: 500px;
  margin: 15px;
}
.enemySprite
{
  float: right;
}

.fighterSprite
{
  float: left;

}

.fighterStatus
{
  margin-top: 150px;
  float: right;
  width: 500px;
}

.attack
{
  width: 300px;
  height: 100px;
  border-width: thin;
  font-size:50px;
}

.attackBar
{
  display: none;
  margin-top: 20px;
  float: right;
  width: 650px;
}

.menu
{
  margin-top: 20px;
  width: 1000px;
  text-align: center;
}

.menuButton
{
  width: 300px;
  height: 150px;
  border-width: thin;
  font-size: 60px;
}

.Epicodex-pic
{
height: 100px;
}

.initial-hidden
{
  display: none;
}
.endButton
{
  width: 300px;
  height: 150px;
  border-width: thin;
  font-size: 50px;
}
.winner, .loser, .rival
{
  font-size: 50px;
}
.player-first, .player-second, .computer-first, .computer-second, .player-move5
{
  font-size:50px;
}
.player-move1, .player-move3
{
  font-size: 50px;
}
