<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="~/css/styles.css" rel="stylesheet" type="text/css">
  <script src="~/js/jquery-3.3.1.js"></script>
  <script src="~/js/scripts.js"></script>
  <title>Epicodemon</title>
</head>
<body class="epicodex">

  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="/">Home</a>
          </div>
          <ul class="nav navbar-nav">
              <li><a href="/Epicodex">Epicodex</a></li>
              <li><a href="/Epicodex/Mons">Mons</a></li>
              <li class="active"><a href="/Epicodex/Moves">Moves</a></li>
          </ul>
      </div>
  </nav>

  <div class="container movesContainer">
    <h2>Moves</h2>
    @foreach(var move in Model)
    {
      <div class="movewell">
        <h4>@move.GetMoveName()</h4>
        <p>Attack Style: @move.GetAttackStyle()</p>
        <p>Base Power: @move.GetBasePower()</p>
        <p>Accuracy: @move.GetAccuracy()</p>
      </div>
    }
</body>
</html>
